* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #345ab0;
    color: #fff;
}

.acessibilidade {
    margin-left: 4rem;
}

.img-acess {
    cursor: pointer;
}

header ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 4rem;
}

header li {
    cursor: pointer;
    margin-left: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.insta-face {
    height: 2rem;
    cursor: pointer;
}

nav input {
    height: 2rem;
    border-radius: 0.5rem;
    width: 15rem;
    margin-left: 1rem;
    padding-left: 0.5rem;
    font-size: 1rem;
    position: relative;
    bottom: 0.4rem;
}

.lupa {
    height: 3.22rem;
    position: relative;
    right: 3rem;
    top: 0.3rem;
    cursor: pointer;
    height: 2rem;
    border-radius: 0 0.5rem 0.5rem 0rem;

}

.rede-sociais {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4rem;
}

.rede-sociais span {
    margin-right: 6rem;
    font-size: 1.1rem;
}

.brasao {
    height: 7rem;
    margin: 1rem 2rem 1rem 9rem;
}

.div-brasao {
    display: flex;
    align-items: center;
    justify-content: center;
}

.prefeitura {
    color: #0c3082;
    font-size: 2rem;
}

.prata {
    color: #0c3082;
    font-size: 3rem;
    font-weight: bold;
}

.banner {
    background-color: #0c3082;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner img {
    width: 112.6rem;
}

.ul-banner {
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ul-banner li {
    cursor: pointer;
}

.curva {
    z-index: -1;
    position: absolute;
    right: 0.05rem;
    top: 15.8rem;
    width: 115rem;
}

.info-banner {
    margin: 1.5rem;
}

.noticia {
    font-size: 2.5rem;
    text-align: center;
    color: rgb(61, 60, 60);
    margin: 6rem 0 0 0;
}

article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem 0 0 10rem;
    width: 90rem;
}

article div {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    cursor: pointer;
}

article div:hover {
    opacity: 89%;
}

article img {
    height: 25rem;
    width: 25rem;
    border-radius: 2rem;
}

article strong {
    margin: 1rem 0.1rem 0.5rem 0.2rem;
    color: rgb(104, 102, 102);
    font-size: 1.2rem;
}

article span {
    color: grey;
    margin: 0 0 0 0.2rem;
}

.btn-blue {
    cursor: pointer;
    background-color: #1253a0;
    color: #fff;
    font-weight: 12rem;
    height: 3rem;
    width: 35rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 2rem;
}

.btn-blue:hover {
    background-color: #104688;
}

.principais-servicos {
    font-size: 2.5rem;
    text-align: center;
    color: rgb(61, 60, 60);
    margin: 7rem 0 0 0;
}

.servicos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3rem 0 0 0;
    width: 110rem;
}

.servicos div {
    margin: 0.5rem;
}

.servicos img {
    border-radius: 0.5rem;
    cursor: pointer;
    width: 22rem;
}

.turismo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    text-align: center;
    color: rgb(61, 60, 60);
    margin: 6rem 0rem 3rem 0rem;
}

aside {
    display: flex;
    align-items: center;
    justify-content: center;
}

aside img {
    border-radius: 3.5rem;
    margin: 2rem;
    height: 20rem;
    width: 30rem;
}

.btn-comer {
    position: absolute;
    border-radius: 2.1rem;
    top: 189rem;
    left: 9.8rem;
    height: 6rem;
    width: 25rem;
    background-color: #b1680a;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
}

.btn-comer:hover {
    background-color: #975806;
}

.btn-hospedar {
    position: absolute;
    border-radius: 2.1rem;
    top: 189rem;
    left: 44rem;
    height: 6rem;
    width: 25rem;
    background-color: #076633;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
}

.btn-hospedar:hover {
    background-color: #06552b;
}

.btn-pontos {
    position: absolute;
    border-radius: 2.1rem;
    top: 189rem;
    right: 9.2rem;
    height: 6rem;
    width: 25rem;
    background-color: #071b66;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
}

.btn-pontos:hover {
    background-color: #041349;
}

.galeria {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    text-align: center;
    color: rgb(61, 60, 60);
    margin: 6rem 0rem 3rem 0rem;
}

.galeria-de-fotos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.galeria-de-fotos img {
    margin: 1rem 0rem 0rem 2rem;
    cursor: pointer;
    border-radius: 2rem;
    width: 25rem;
    height: 25rem;
}

.videos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0rem 0rem 6rem 0rem;

}

.videos div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.videos strong {
    font-size: 1.4rem;
    color: #575656;
    text-align: center;
    width: 24rem;
}

.videos img {
    box-shadow: 10px 5px 5px rgb(202, 202, 202);
    cursor: pointer;
    margin: 0rem 0rem 1rem 2rem;
}

.informes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.informes img {
    cursor: pointer;
    margin: 3rem 3rem 3rem 3rem;
}

.fundo-azul img {
    z-index: -1;
    position: relative;
    width: 112.6rem;
    height: 8rem;
    top: 1rem;
}

.sessao-docs h1 {
    text-align: left;
    margin: 2rem;
    font-size: 2.5rem;
}

.sessao-docs {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0c3082;
    color: #fff;
    padding: 0rem 0rem 3rem 0rem;
}

.docs {
    display: flex;
    margin: 2rem;
    font-size: 1.2rem;
    width: 25rem;
    border-bottom: 0.1rem solid #fff;
    cursor: pointer;
}

.sessao-docs img {
    margin: 0rem 0.5rem 0rem 0rem;
}

.btn-edital {
    background-color: #cda50a;
    height: 2.5rem;
    width: 10rem;
    cursor: pointer;
    border: none;
    border-radius: 0.4rem;
    color: #fff;
    font-weight: bold;
    font-size: 1.1rem;
    position: relative;
    left: 17rem;
    margin-top: 2rem;
}

.btn-edital:hover {
    background-color: #af8e07;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #031c54;
    color: #fff;
}

footer img {
    border-radius: 50%;
}

.footer-brasao {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    width: 25rem;
}

.footer-brasao img {
    margin-right: 3rem;
}

.footer-brasao strong {
    font-size: 1.5rem;
}

.secretarias {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

.desenvolvimento {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    margin-left: 3.5rem;

}

.desenvolvido {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    margin-left: 3.5rem;
}

footer strong,
footer span {
    cursor: pointer;
}